.cssLeft, .cssTableTdLeft td
{
   text-align : left;
}

.cssCenter, .cssTableTdCenter td
{
   text-align : center;
}

.cssRight, .cssTableTdRight td
{
   text-align : right;
}

.cssJustify, .cssTableTdJustify td
{
   text-align : justify;
}

html, body
{
   font-family : "Friz Quadrata Std", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6
{
   font-family : "Mass Effect Game 123", fantasy;
   font-weight : normal;
   margin-top  : 1.5em;
}

h1
{
   text-align  : center;
   margin-bottom  : 2em;
}

h1 + h1
{
   margin-top  : 0em;
}

h1 b, h2 b, h3 b, h4 b, h5 b, h6 b
{
   font-weight : bold;
}

h1.cssSubtitle
{
   color          : #444444;
   font-size      : 100%;
   margin-bottom  : 0em;
}



/* Header counters */

h1 { counter-reset: h2counter; }
h2 { counter-reset: h3counter; }
h3 { counter-reset: h4counter; }
h4 { counter-reset: h5counter; }
h5 { counter-reset: h6counter; }

h2:before
{
   content: counter(h2counter) "\0000a0\002014\0000a0";
   counter-increment: h2counter;
   counter-reset: h3counter;
}

h3:before
{
   content: counter(h2counter) "." counter(h3counter) "\0000a0\002014\0000a0";
   counter-increment: h3counter;
   counter-reset: h4counter;
}

h4:before
{
   content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "\0000a0\002014\0000a0";
   counter-increment: h4counter;
   counter-reset: h5counter;
}

h5:before
{
   content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "\0000a0\002014\0000a0";
   counter-increment: h5counter;
   counter-reset: h6counter;
}

h6:before
{
   content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) "\0000a0\002014\0000a0";
   counter-increment: h6counter;
}

h2.cssNoNumber:before
{
   content: "";
   counter-increment: h2counter;
   counter-reset: h3counter;
}

h3.cssNoNumber:before
{
   content: "";
   counter-increment: h3counter;
   counter-reset: h4counter;
}

h4.cssNoNumber:before
{
   content: "";
   counter-increment: h4counter;
   counter-reset: h5counter;
}

h5.cssNoNumber:before
{
   content: "";
   counter-increment: h5counter;
   counter-reset: h6counter;
}

h6.cssNoNumber:before
{
   content: "";
   counter-increment: h6counter;
}







a, a:hover, a:active, a:visited
{
   color             : 5098FF;
   text-decoration   : none;
}

a:hover
{
   color             : #70B8FF;
   text-decoration   : none;
}

blockquote
{
   color             : #555555;
   font-style        : italic;
   margin            : 1em 3em;
}

blockquote i
{
   font-style        : normal;
}

p, ul, ol
{
   margin            : .75em 2em;
}

div.cssWarning, div.cssInformation, div.cssDescription, div.cssBrainstorming
{
   margin            : .75em 2em;
   border            : 1px solid #000000;
}

div.cssWarning h1, div.cssInformation h1, div.cssDescription h1, div.cssBrainstorming h1
{
   text-align  : left;
   font-size : 100%;
   margin : .75em 2em;
}


div.cssWarning
{
   border-color      : #FF0000;
   background        : #FFDDDD;
}

div.cssInformation
{
   border-color      : #008800;
   background        : #DDFFDD;
}

div.cssDescription
{
   border-color      : #0066AA;
   background        : #CCEEFF;
}

div.cssBrainstorming
{
   border-color      : #AA6600;
   background        : #FFEECC;
}

div.cssWarning p:first-child:before, div.cssWarning h1:first-child:before
{
   color             : #FF0000;
   font-weight       : bold;
   content           : "Attention: ";
}

div.cssInformation p:first-child:before, div.cssInformation h1:first-child:before
{
   color             : #008800;
   font-weight       : bold;
   content           : "Information: ";
}

div.cssDescription p:first-child:before, div.cssDescription h1:first-child:before
{
   color             : #0066AA;
   font-weight       : bold;
   content           : "Description: ";
}

div.cssBrainstorming p:first-child:before, div.cssBrainstorming h1:first-child:before
{
   color             : #AA6600;
   font-weight       : bold;
   content           : "Brainstorming: ";
}

.cssHomeRule
{
   background-color  : #FFFF00;
}

.cssTodo
{
   color             : #FF0000;
   background-color  : #FFDDDD;
}

.cssTable, .cssTable th, .cssTable td
{
   border-collapse   : collapse;
   border            : 1px #888888 solid;
   font-family       : "Open Sans";
   font-size         : 85%;
}

.cssTable th, .cssTable td
{
   padding           : .25em 1em;
}

.cssTable th
{
   color             : #FFFFFF;
   background-color  : #000000;
}

.cssTable td.cssHomeRule
{
   background-color  : #FFFF00;
}

.cssTable th.cssHomeRule
{
   color  : #FFFF00;
   background-color  : #000000;
}

.cssTableTdCenter td
{
   
}

.cssGradualBlink
{
  animation: gradualBlinker 1s linear infinite;
}

@keyframes gradualBlinker
{  
  50% { opacity: 0; }
}

.cssTodo
{
   color             : #880000 ;
   background-color  : #FFFF00 ;
}

div.cssAudio
{
   margin               : 2px;
   border               : 2px #AAAAFF outset;
   background-color     : #AAAAFF;
}
